enable-jmx-monitoring=false
rcon.port={{ minecraft_papermc_sp_rcon_port }}
level-seed=
gamemode={{ minecraft_papermc_sp_gamemode }}
enable-command-block=false
enable-query=false
generator-settings=
level-name={{ minecraft_papermc_sp_level_name }}
motd={{ minecraft_papermc_sp_motd }}
query.port={{ minecraft_papermc_sp_query_port }}
pvp={{ minecraft_papermc_sp_pvp }}
generate-structures=true
difficulty={{ minecraft_papermc_sp_difficulty }}
network-compression-threshold=256
max-tick-time=60000
use-native-transport=true
max-players={{ minecraft_papermc_sp_max_players }}
online-mode={{ minecraft_papermc_sp_only_mode }}
enable-status=true
allow-flight=false
broadcast-rcon-to-ops=true
view-distance=10
max-build-height=256
server-ip=
allow-nether=true
server-port={{ minecraft_papermc_sp_server_port }}
enable-rcon=true
sync-chunk-writes=true
op-permission-level=4
prevent-proxy-connections=false
resource-pack=
entity-broadcast-range-percentage=100
rcon.password={{ minecraft_papermc_sp_rcon_password }}
player-idle-timeout=0
debug=false
force-gamemode=false
rate-limit=0
hardcore=false
white-list=false
broadcast-console-to-ops=true
spawn-npcs=true
spawn-animals=true
snooper-enabled=true
function-permission-level=2
level-type=default
text-filtering-config=
spawn-monsters=true
enforce-whitelist=false
resource-pack-sha1=
spawn-protection=16
max-world-size=29999984
